input.disable_arrows {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
		-webkit-appearance: none;
		margin: 0;
	}

	&[type=number] {
		appearance: textfield;
		-moz-appearance: textfield;
	}
}