@import "../styles/input.scss";

.server {
	width: 100%;
	height: 100%;
	border: 2px solid white;
	border-radius: 1rem;
	padding: 1rem;
	gap: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.title {
		font-size: xx-large;
	}

	.server_data {
		width: fit-content;
		padding: 1rem;
		border-radius: 0.5rem;

		.server_status {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0.5em;

			font-size: normal;
		}

		.server_ip,
		.server_name,
		.server_version {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0.5em;

			>span:nth-of-type(2) {
				font-family: monospace;
			}
		}
	}

	.set_server {
		width: fit-content;
		border-radius: 0.5rem;
		padding: 0.5rem;

		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		gap: 0.5rem;

		.subtitle {
			font-size: x-large;
			text-align: center;
		}

		input {
			@extend .disable_arrows;

			background: none;
			border: none;
			outline: none;

			border-bottom: 2px solid white;
			padding: 0.5rem;

			&:nth-of-type(2) {
				width: 4em;
			}

			&::placeholder {
				color: #a0a0a0;
			}
		}

		button {
			padding: 0.5rem;
		}
	}
}